.container
    .jumbotron
        h1 Multivision-Personalized Hot spots
        p Welcome to the "Personalized Hot Spots" which will take to you heaven when looking for places to hangout while you are on your trip

    .row
        .col-md-6
            div(ng-include="'/partials/main/Courses-Existing'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")